
Java/loiane/build.xml
*.xml
*.properties
*.mf
/Java/loiane/build/
/Logica/DevDojo/nbproject/private/
/Logica/DevDojo/build/
/Logica/Bete/nbproject/private/
/Logica/Bete/build/
/Logica/Teste/nbproject/private/
/Logica/Bete2/nbproject/private/
/Logica/Bete2/build/
/Logica/Bete2/dist/
/Logica/ProjetoEdivan/nbproject/private/
/Java/Maratona Java/JavaOnline/nbproject/private/
/Java/Maratona Java/JavaOnline/build/
/Java/A21Dias/nbproject/private/
/Java/A21Dias_1/nbproject/private/
/Java/A21Dias/build/
/Java/A21Dias_cap07/nbproject/private/
/Java/JoseL/Jose/nbproject/private/
/Java/JoseL/Jose/build/
/Java/NewFolder/BancodeDados/nbproject/private/
/Java/NewFolder/BancodeDados/build/
/Java/NewFolder/BancodeDados/dist/
/Java/Projetos/Miniaturas/Miniaturas/nbproject/private/
/Java/Projetos/Miniaturas/Miniaturas/build/
/Java/Projetos/PadroesDeProjeto/nbproject/private/
/Java/Projetos/PadroesDeProjeto/build/
/Java/Projetos/PadroesDeProjeto_backup/nbproject/private/
/Java/Projetos/Miniaturas/Miniaturas/dist/
/Java/JoseL/Jose/dist/
/Java/Projetos/Miniaturas/Miniaturas_1backup/nbproject/private/
/Java/Projetos/ProjectAdapter/nbproject/private/
/Java/Projetos/ProjectAdapter/build/
/BootCamp/nbproject/private/
/BootCamp/build/
/Java/VariosExercicios/nbproject/private/
/Java/VariosExercicios/build/
/Java/JoseL/JoseLL/nbproject/private/
/Java/JoseL/JoseLL/build/
/Java/Projetos/TorrentFilmes/nbproject/private/
Java/Projetos/TorrentFilmes/src/br/com/torrent/util/Conexao.java
Java/Projetos/TorrentFilmes/src/br/com/torrent/util/Conexao.java
/Java/Eugenio/adapter/nbproject/private/
/Java/Eugenio/adapter/build/