/* limpar formatações padrão*/
* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 1em;
    font-family: "Times New Roman", Times, sans-serif;
    background: blanchedalmond;
}


/*
=======     Layout      =======
*/
#area-cabecalho{
    background: burlywood;
    padding: 15px
    text-align: center;
}

#area-logo, #area-menu {
    padding: 10px;
}

/*
=======     Formatação de Menu      =======
*/

a {
    text-decoration: none;
}

a:link, a:visited{
    color: #ffffff;
    padding: 8px 12px;
}
a:hover {
    color: blanchedalmond;
    background: #c57777;
}

/*
    Formatações em Geral
*/
h1 {
    color: #4e4e4e;
}
.branco {
    color: white;
}